[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
elasticsearch = "==7.13.1"
google-play-scraper = "*"
app-store-scraper = "*"
play-scraper = "*"

[dev-packages]

[requires]
python_version = "3.9"
